.search {
  /* display: flex; */
  /* margin-bottom: 190px; */
  font-size: 18px;
  line-height: 24px;
  margin-top: 9px;
}

.city {
  color: rgb(255, 255, 255) !important;
  font-size: 50px;
  line-height: 60px;
}

.city-btn {
  margin-top: 9px;
  display: flex;
  opacity: 0.6;
}

.search img {
  margin-right: 11px;
}

.change-city {
  margin-right: 29px;
}

@media (max-width:420px) {
  .search {
    font-size: 15px;
    line-height: 18px;
  }
  .city {
    font-size: 30px;
    line-height: 36px;
  }
}