.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1366px;
  height: 100vh;
  padding: 75px 75px 122px 99px;
  color: #fff;
}

@media (max-width:900px) {
  .container {
    padding-bottom: 65px;
  }
}

@media (max-width:681px) {
  .container {
    padding: 35px;
  }
}

@media (max-width:480px) {
  .container {
    padding: 25px;
  }
}

@media (max-width:375px) {
  .container {
    padding: 19px 19px 0px 19px;
  }
}