* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #498CEC;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  all: unset;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}

input::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.6;
}